# Kopirajte u .env (docker-compose ga automatski cita). Vrednosti su dovoljne za lokalni rad.
JWT_SECRET=super_tajni_kljuc_promeni_me
POSTGRES_PASSWORD=postgres
# Externi servisi (open-source, besplatni)
DICTIONARY_API_URL=https://api.dictionaryapi.dev/api/v2/entries
LIBRETRANSLATE_URL=http://libretranslate:5000
